<h1>Add New Test</h1>

<%= form_with scope: :testsuite, :url => testsuite_save_path, local: true do |form| %>
  <p>
    <%= form.label :TestName %><br>
    <%= form.text_field :TestName %>
  </p>
	 <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>

  <p>
    <%= form.label :cat %><br>
    <%= form.text_area :cat %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'All Test', testsuite_index_path %>

