<h1>Add New Site</h1>

<%= form_with scope: :site, :url => sites_ab_path, local: true do |form| %>
  <p>
    <%= form.label :Site_URL %><br>
    <%= form.text_field :siteURL %>
  </p>
   <p>
    <%= form.label :User %><br>
    <%= form.text_area :user %>
  </p>

	<p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'All Test', sites_path %>

