<center>
	<h1>Add New Site</h1>
</center>

<%= form_with scope: :site, :url => sites_save_path, local: true do |form| %>
  <p>
    <%= form.label :Site_URL %><br>
    <%= form.text_field :siteURL %>
  </p>
   <p>
     <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Show All Sites', sites_path %>&nbsp&nbsp&nbsp
<%= link_to 'WordPress Automation Testing ', testweb_index_path %>

